  <!-- Footer-->
  <div class="grid_8 prefix_3 alpha foot">
    <p class="footerleft">
      Minimo portfolio template by <a href="http://www.pixelcraft.ie">Pixelcraft</a>.
    </p>
    <p class="footerright">
      <a href="http://validator.w3.org/check?uri=referer">Valid xHTML</a> | <a href="http://jigsaw.w3.org/css-validator/check/referer">Valid CSS 3</a>
    </p>
  </div><!-- end Footer-->
  <div class="divider">
    &nbsp;<a id="contact" name="contact"></a>
  </div>
</div><!-- end .container_12 -->