<!-- Google Maps Script -->   
    <script src="http://maps.google.com/maps?file=api&amp;v=2&amp;sensor=true&amp;key=AIzaSyD2pfwKQkIkgXPODB9-RF0JjrAXSzxmB0s" type="text/javascript">
</script>

<!-- End Google Maps Script --> 

    <script src="/assets/js/jquery.js" type="text/javascript"></script>
    <script src="/assets/js/sifr.js" type="text/javascript"></script>
    <script src="/assets/js/sifr-config.js" type="text/javascript"></script>
    <script src="/assets/js/scroll.js" type="text/javascript"></script>
<!--[if lt IE 7]>
    <script type="text/javascript" src="js/unitpngfix.js"></script>
    <link rel="stylesheet" type="text/css" href="css/ieonly.css" />
<![endif]-->

    <script type="text/javascript">
//<![CDATA[

function load() {
if (GBrowserIsCompatible()) {
var map = new GMap2(document.getElementById("map"));
map.setCenter(new GLatLng(9.957142,-84.053671), 15);
var marker = new GMarker(new GLatLng(9.957142,-84.053671));
map.addOverlay(marker);
map.addControl(new GSmallMapControl());
}
}

$(function() {


  $('a[href^="mailto:"]').each(function() {
  this.href = this.href.replace('(at)', '@').replace(/\(dot\)/g, '.');
  // Remove this line if you don't want to set the email address as link text:
  this.innerHTML = this.href.replace('mailto:', '');
  });
});

//]]>
</script>